# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# thisProject
recordings
snapshots

# Environment variables
.env
.env.local
.env.*.local
docs

# Claude Code
.claude/


# Visual Studio Code
.vscode/
*.code-workspace
.history/